<div class="nav-container border">
    <div class="logo border-bottom w-100 p-2">
        <h3 class="mb-0">Solo</h3>
    </div>
    <ul>
        <li class="active">
            <i class="bi bi-speedometer"></i>
            <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
        </li>
        <li>
            <a routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">Contacts</a>
        </li>
        <li>
            <a routerLink="/tasks" routerLinkActive="active" ariaCurrentWhenActive="page">Tasks</a>
        </li>
        <li>
            <a routerLink="/expenses" routerLinkActive="active" ariaCurrentWhenActive="page">Expenses</a>
        </li>
        <li>
            <a routerLink="/income" routerLinkActive="active" ariaCurrentWhenActive="page">Income</a>
        </li>
    </ul>
</div>